@import "bootstrap"
@import "~glyphicons-only-bootstrap/css/bootstrap.css"

.main
    display: flex
    height: 100vh
    justify-content: center
    align-items: center
    flex-direction: column

.parking
    margin-top: 5vh

.customers
    margin-top: 15px

.action-cell
    width: 50px

    & > div
        display: flex
        width: 100%
        height: 100%
        justify-content: center
        align-items: center

.edit-row
    text-decoration: none

.remove-row
    &:hover
        cursor: pointer
